Repository rxseven/onigiri-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Add "Latest Release" badge to README
  README.md
Due: none

Add "Docker Hub Pulls" status badge to README
  README.md
Due: none

Add footnote on README
  README.md
Due: none

Add "Configuring the Development Environment" section
  README.md
Due: none

Add "Deploying a containerized web application" section
  README.md
Due: none

Add "Available Scripts" section
  README.md
Due: none

Change release version to v1.0.0
  .env
  Dockerrun.aws.json
  package.json
Due: none

Change incorrect words in README
  README.md
Due: none

Regroup table of contents in README
  README.md
Due: none

Update content in "Development Milestones" section
  README.md
Due: none

Add "warning" prop to TipContainer component
  src/components/common/Tip/TipContainer/index.jsx
  src/components/common/Tip/TipContainer/styles.scss
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Add Facebook login warning dialog on SignIn screen
  src/screens/Users/screens/SignIn/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Fix incorrect dialog margin on SignIn screen
  src/screens/Users/screens/SignIn/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Reorder import statements in SignIn screen alphabetically
  src/screens/Users/screens/SignIn/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add Docker logo & its styles to About screen
  src/screens/About/images/logo-docker.png
  src/screens/About/styles.scss
Due: yarn lint:stylesheet, yarn format

Update content on Overview component
  src/screens/About/content/Overview/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update content on Development component
  src/screens/About/content/Development/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update content on Specs component
  src/screens/About/content/Specs/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update new Docker logo with correct size
  src/screens/About/images/logo-docker.png
Due: none

Move script for sending code coverage data on CI sever to after_success hook
  .travis.yml
Due: none

Add workaround script for running unit tests on CI server
  .travis.yml
Due: none

Disable script for creating code coverage data (LCOV) on CI server
  .travis.yml
Due: none

Path conditions:
  yarn test:staged: any of: src/**/*.{js,jsx}
  yarn lint:script:fix: any of: src/**/*.{js,jsx}
  yarn type:check:focus: any of: src/**/*.{js,jsx}
  yarn lint:stylesheet: any of: src/**/*.scss
  yarn format: any of: src/**/*.{js,json,jsx,scss}
