Repository rxseven/onigiri-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

.lintstagedrc:

{
  "src/**/*.{js,jsx}": [
    "yarn test:staged",
    "yarn lint:script:fix",
    "yarn type:check:focus",
    "git add"
  ],
  "src/**/*.scss": [
    "yarn lint:stylesheet",
    "git add"
  ],
  "src/**/*.{js,json,jsx,scss}": [
    "yarn format",
    "git add"
  ]
}

Setup Travis CI
  .travis.yml
Due: none

Setup automated tasks
  .travis.yml
Due: none

Install coveralls package
  package.json
  yarn.lock
Due: none

Setup Coveralls
  .travis.yml
  package.json
Due: none

Setup continuous deployment with Heroku & Travis CI
  .travis.yml
Due: none

Add build status badge to README
  README.md
Due: none

Update README
  README.md
Due: none

Add additional images & styles for 3rd party logos on About screen
  src/screens/About/images/logo-coveralls.png
  src/screens/About/images/logo-github.png
  src/screens/About/images/logo-travis.png
  src/screens/About/styles.scss
Due: yarn lint:stylesheet, yarn format

Fix List item’s styles
  src/components/shared/base/List/styles.scss
Due: yarn lint:stylesheet, yarn format

Update content on Me screen
  src/screens/Me/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update content on Development component
  src/screens/About/content/Development.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update content on Specs component
  src/screens/About/content/Specs.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update content on Overview component
  src/screens/About/content/Overview.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update links on Footer
  src/components/core/Footer/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update links on Menu
  src/components/core/Menu/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add link to LICENSE
  src/components/core/Footer/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update links and content on About screen
  src/screens/About/content/Overview.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Remove Me screen and its route
  src/components/Routes.js
  src/constants/router/paths.js
  src/screens/Me/index.js
  src/screens/Me/styles.scss
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Install immutable package
  package.json
  yarn.lock
Due: none

Install redux-immutable package
  package.json
  yarn.lock
Due: none

Update library definitions
  flow-typed/npm/axios_v0.18.x.js
  flow-typed/npm/coveralls_vx.x.x.js
  flow-typed/npm/flow-bin_v0.x.x.js
  flow-typed/npm/jest_v20.x.x.js
  flow-typed/npm/lodash_v4.x.x.js
  flow-typed/npm/prop-types_v15.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-transition-group_v2.x.x.js
  flow-typed/npm/redux-immutable_vx.x.x.js
  flow-typed/npm/redux-mock-store_v1.2.x.js
  flow-typed/npm/redux-saga_v0.16.x.js
  flow-typed/npm/reselect_v3.x.x.js
Due: none

Initialize immutable state
  src/store/configureStore.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add immutable state model for screen container
  src/constants/models/state.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add asynchronous type constants
  src/constants/types/asynchronous.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Create helper function to work with data
  src/helpers/data.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add helper function to set asynchronous status
  src/helpers/data.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add helper function to convert plain JavaScript objects into Immutable.OrderedMap
  src/helpers/data.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add helper function to generate state for a container component
  src/helpers/data.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Create HOC to transform Immutable data to plain JavaScript objects
  src/HOCs/toJS.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor root reducer with Immutable object
  src/reducers/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for data domain with Immutable object
  src/data/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for data.features domain with Immutable object
  src/data/features/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for data.features.payments domain with immutable object
  src/data/features/payments/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for data.interfaces domain with Immutable object
  src/data/interfaces/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for data.interfaces.session domain with Immutable object
  src/data/interfaces/session/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for screens domain with Immutable object
  src/screens/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for screens.surveys domain with Immutable object
  src/screens/Surveys/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for screens.surveys.details domain with Immutable object
  src/screens/Surveys/screens/SurveyDetails/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor reducer for screens.surveys.details.data domain with Immutable object
  src/screens/Surveys/screens/SurveyDetails/data/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format
