Repository rxseven/onigiri-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor asynchronous action creators & action types under src/data/session domain
  src/data/interfaces/session/reducers.js
  src/data/session/actions.js
  src/data/session/reducers.js
  src/data/session/sagas.js
  src/data/session/types.js
  src/screens/Users/screens/Profile/reducers.js
  src/screens/Users/screens/SignIn/reducers.js
  src/screens/Users/screens/SignUp/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor asynchronous action creators & action types under src/data/credits domain
  src/data/credits/actions.js
  src/data/credits/reducers.js
  src/data/credits/sagas.js
  src/data/credits/types.js
  src/data/features/payments/reducers.js
  src/screens/Users/screens/Profile/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor asynchronous action creators & action types under src/screens/Users domain
  src/screens/Users/screens/Profile/data/profile/actions.js
  src/screens/Users/screens/Profile/data/profile/reducers.js
  src/screens/Users/screens/Profile/data/profile/sagas.js
  src/screens/Users/screens/Profile/data/profile/types.js
  src/screens/Users/screens/Profile/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor asynchronous action creators & action types under src/screens/Surveys domain
  src/screens/Surveys/actions.js
  src/screens/Surveys/sagas.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/actions.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/reducers.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/sagas.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/types.js
  src/screens/Surveys/screens/SurveyDetails/reducers.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/actions.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/reducers.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/sagas.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/types.js
  src/screens/Surveys/screens/SurveyDoorway/reducers.js
  src/screens/Surveys/screens/SurveyList/data/surveys/actions.js
  src/screens/Surveys/screens/SurveyList/data/surveys/reducers.js
  src/screens/Surveys/screens/SurveyList/data/surveys/sagas.js
  src/screens/Surveys/screens/SurveyList/data/surveys/types.js
  src/screens/Surveys/screens/SurveyList/reducers.js
  src/screens/Surveys/screens/SurveyNew/actions.js
  src/screens/Surveys/screens/SurveyNew/reducers.js
  src/screens/Surveys/screens/SurveyNew/sagas.js
  src/screens/Surveys/screens/SurveyNew/types.js
  src/screens/Surveys/types.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update content on Overview component
  src/screens/About/content/Overview/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update README
  README.md
Due: none

Add .gitattributes
  .gitattributes
Due: none

Enable VSCode's IntelliSense when using absolute import paths
  jsconfig.json
Due: none

Update ignoring list to exclude files from being checked by Flow
  .flowconfig
Due: none

Update specified library definitions when type checking
  .flowconfig
Due: none

Update Flow's configuration options
  .flowconfig
Due: none

Fix ESLint & Flow conflicts
  .eslintrc
Due: none

Update library definitions
  flow-typed/npm/lodash_v4.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-modal_v3.1.x.js
  flow-typed/npm/react-redux_v5.x.x.js
Due: none

Restructure services for serveys feature
  src/screens/Surveys/sagas.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/sagas.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/sagas.js
  src/screens/Surveys/screens/SurveyList/data/surveys/sagas.js
  src/screens/Surveys/screens/SurveyNew/sagas.js
  src/screens/Surveys/services.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Restructure services for payments feature
  src/data/credits/sagas.js
  src/data/features/payments/services.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add shareable static types
  src/types/common/router.js
  src/types/common/session.js
  src/types/common/state.js
  src/types/common/utilities.js
  src/types/features/payments.js
  src/types/features/scroller.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to global constants
  src/constants/elements/html.js
  src/constants/router/paths.js
  src/constants/sizing/screens.js
  src/constants/string/css.js
  src/constants/types/asynchronous.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to helper functions
  src/helpers/ajax.js
  src/helpers/asynchronous.js
  src/helpers/date.js
  src/helpers/email.js
  src/helpers/interface.js
  src/helpers/state.js
  src/helpers/string.js
  src/helpers/timestamp.js
  src/helpers/token.js
  src/helpers/validation.js
  src/helpers/window.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Alert component
  src/components/common/Alert/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Avatar component
  src/components/common/Avatar/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Buttons component
  src/components/common/Buttons/Button/index.jsx
  src/components/common/Buttons/ButtonGroup/index.jsx
  src/components/common/Buttons/ButtonHandler/index.jsx
  src/components/common/Buttons/ButtonList/index.jsx
  src/components/common/Buttons/ButtonSet/index.jsx
  src/components/common/Buttons/ButtonToolbar/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Card component
  src/components/common/Card/CardBody/index.jsx
  src/components/common/Card/CardContainer/index.jsx
  src/components/common/Card/CardFooter/index.jsx
  src/components/common/Card/CardHeader/index.jsx
  src/components/common/Card/CardLink/index.jsx
  src/components/common/Card/CardSubtitle/index.jsx
  src/components/common/Card/CardText/index.jsx
  src/components/common/Card/CardTitle/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to ExLink component
  src/components/common/ExLink/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Forms component
  src/components/common/Forms/Form/index.jsx
  src/components/common/Forms/FormField/index.jsx
  src/components/common/Forms/FormGroup/index.jsx
  src/components/common/Forms/FormHL/index.jsx
  src/components/common/Forms/FormMeta/index.jsx
  src/components/common/Forms/FormSHL/index.jsx
  src/components/common/Forms/FormStack/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Grid component
  src/components/common/Grid/Column/index.jsx
  src/components/common/Grid/Container/index.jsx
  src/components/common/Grid/Row/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Hero component
  src/components/common/Hero/HeroBody/index.jsx
  src/components/common/Hero/HeroContainer/index.jsx
  src/components/common/Hero/HeroHeader/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Icon component
  src/components/common/Icon/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Layout component
  src/components/common/Layout/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to List component
  src/components/common/List/ListContainer/index.jsx
  src/components/common/List/ListContent/index.jsx
  src/components/common/List/ListGroup/index.jsx
  src/components/common/List/ListGroupItem/index.jsx
  src/components/common/List/ListItem/index.jsx
  src/components/common/List/ListLabel/index.jsx
  src/components/common/List/ListLink/index.jsx
  src/components/common/List/ListTitle/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to ListGroup component
  src/components/common/ListGroup/ListGroupContainer/index.jsx
  src/components/common/ListGroup/ListGroupHL/index.jsx
  src/components/common/ListGroup/ListGroupItem/index.jsx
  src/components/common/ListGroup/ListGroupText/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Loader component
  src/components/common/Loader/Wrapper/index.jsx
  src/components/common/Loader/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Modal component
  src/components/common/Modal/ModalBody/index.jsx
  src/components/common/Modal/ModalContainer/index.jsx
  src/components/common/Modal/ModalFooter/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Overlay component
  src/components/common/Overlay/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Page component
  src/components/common/Page/Body/index.jsx
  src/components/common/Page/Document/index.jsx
  src/components/common/Page/Head/index.jsx
  src/components/common/Page/Title/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Scroller component
  src/components/common/Scroller/ScrollerContainer/index.jsx
  src/components/common/Scroller/ScrollerContainer/styles.scss
  src/components/common/Scroller/ScrollerContent/index.jsx
  src/components/common/Scroller/ScrollerEmpty/index.jsx
  src/components/common/Scroller/constants/defaultProps.js
  src/components/common/Scroller/constants/propTypes.js
  src/components/common/Scroller/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Add static types to Spinner component
  src/components/common/Spinner/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Text component
  src/components/common/Text/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Tip component
  src/components/common/Tip/TipContainer/index.jsx
  src/components/common/Tip/TipHeader/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Typography component
  src/components/common/Typography/HL/index.jsx
  src/components/common/Typography/SHL/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Add static types to Confirm component
  src/components/composite/Confirm/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Path conditions:
  yarn test:staged: any of: src/**/*.{js,jsx}
  yarn lint:script:fix: any of: src/**/*.{js,jsx}
  yarn type:check:focus: any of: src/**/*.{js,jsx}
  yarn lint:stylesheet: any of: src/**/*.scss
  yarn format: any of: src/**/*.{js,json,jsx,scss}
