Repository rxseven/onigiri-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor component's file extensions under src/screens/Policy
  src/screens/Policy/Privacy/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's file extensions under src/screens/Terms
  src/screens/Terms/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's file extensions under src/screens/Surveys
  src/screens/Surveys/screens/SurveyDetails/UI.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Chart/index.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Content.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Modal.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Recipients/index.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Toolbar/index.jsx
  src/screens/Surveys/screens/SurveyDoorway/UI.jsx
  src/screens/Surveys/screens/SurveyList/UI.jsx
  src/screens/Surveys/screens/SurveyList/components/Headset/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Item/index.jsx
  src/screens/Surveys/screens/SurveyList/components/List/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Menu/index.jsx
  src/screens/Surveys/screens/SurveyList/components/ScrollTop/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Sidebar/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Stickybar/index.jsx
  src/screens/Surveys/screens/SurveyNew/UI.jsx
  src/screens/Surveys/screens/SurveyNew/components/Form.jsx
  src/screens/Surveys/screens/SurveyNew/components/Review/index.jsx
  src/screens/Surveys/screens/SurveyNew/index.jsx
  src/screens/Surveys/screens/SurveySuccess/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's file extensions under src/screens/Users
  src/screens/Users/components/Layout.jsx
  src/screens/Users/screens/Farewell/index.jsx
  src/screens/Users/screens/Profile/UI.jsx
  src/screens/Users/screens/Profile/components/Account.jsx
  src/screens/Users/screens/Profile/components/Checkout.jsx
  src/screens/Users/screens/Profile/components/Credits.jsx
  src/screens/Users/screens/Profile/components/Profile.jsx
  src/screens/Users/screens/SignIn/components/Form.jsx
  src/screens/Users/screens/SignIn/index.jsx
  src/screens/Users/screens/SignUp/components/Form.jsx
  src/screens/Users/screens/SignUp/index.jsx
  src/screens/Users/screens/Welcome/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/components/common
  src/components/common/Alert/index.jsx
  src/components/common/Card/index.jsx
  src/components/common/Document/index.jsx
  src/components/common/Grid/index.jsx
  src/components/common/Hero/index.jsx
  src/components/common/Layout/index.jsx
  src/components/common/Modal/index.jsx
  src/components/common/Text/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/components/composite
  src/components/composite/Confirm/index.jsx
  src/components/composite/Error/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/components/core
  src/components/core/App/index.jsx
  src/components/core/Body/index.jsx
  src/components/core/Root/index.jsx
  src/components/core/Routes/index.jsx
  src/components/core/Wrapper/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/HOCs
  src/HOCs/common/Loadable/index.jsx
  src/HOCs/routes/AuthRoute/index.jsx
  src/HOCs/routes/PrivateRoute/index.jsx
  src/HOCs/routes/ReferralRoute/index.jsx
  src/HOCs/state/toJS/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/screens/About
  src/screens/About/content/Development/index.jsx
  src/screens/About/content/Overview/index.jsx
  src/screens/About/content/Specs/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/screens/Surveys
  src/screens/Surveys/screens/SurveyDetails/components/Content/index.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Modal/index.jsx
  src/screens/Surveys/screens/SurveyNew/components/Form/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor component's folder structure under src/screens/Users
  src/screens/Users/components/Layout/index.jsx
  src/screens/Users/screens/Profile/components/Account/index.jsx
  src/screens/Users/screens/Profile/components/Checkout/index.jsx
  src/screens/Users/screens/Profile/components/Credits/index.jsx
  src/screens/Users/screens/Profile/components/Profile/index.jsx
  src/screens/Users/screens/SignIn/components/Form/index.jsx
  src/screens/Users/screens/SignUp/components/Form/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor Sass structure
  src/styles/content/_typography.scss
  src/styles/index.scss
  src/styles/mixins/_clearfix.scss
  src/styles/mixins/_utilities.scss
Due: yarn lint:stylesheet, yarn format

Add transition mixin
  src/styles/index.scss
  src/styles/mixins/_transition.scss
Due: yarn lint:stylesheet, yarn format

Fix Sass’s import paths
  src/components/common/List/styles.scss
  src/screens/About/styles.scss
  src/screens/Users/screens/Profile/styles/profile.scss
Due: yarn lint:stylesheet, yarn format

Refactor CSS modules under src/components/common
  src/components/common/Avatar/index.jsx
  src/components/common/Buttons/index.jsx
  src/components/common/Buttons/styles.scss
  src/components/common/ExLink/index.jsx
  src/components/common/Form/index.jsx
  src/components/common/Icon/index.jsx
  src/components/common/List/index.jsx
  src/components/common/ListGroup/index.jsx
  src/components/common/Loader/index.jsx
  src/components/common/Overlay/index.jsx
  src/components/common/Scroller/index.jsx
  src/components/common/Spinner/index.jsx
  src/components/common/Tip/index.jsx
  src/components/common/Typography/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor CSS modules under src/components/core
  src/components/core/Footer/index.jsx
  src/components/core/Lightbox/UI.jsx
  src/components/core/Main/index.jsx
  src/components/core/Menu/index.jsx
  src/components/core/Navbar/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor CSS modules under src/screens/About
  src/screens/About/content/Specs/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor CSS modules under src/screens/Home
  src/screens/Home/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor CSS modules under src/screens/Surveys
  src/screens/Surveys/screens/SurveyDetails/components/Chart/index.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Recipients/index.jsx
  src/screens/Surveys/screens/SurveyDetails/components/Toolbar/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Headset/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Item/index.jsx
  src/screens/Surveys/screens/SurveyList/components/List/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Menu/index.jsx
  src/screens/Surveys/screens/SurveyList/components/ScrollTop/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Sidebar/index.jsx
  src/screens/Surveys/screens/SurveyList/components/Stickybar/index.jsx
  src/screens/Surveys/screens/SurveyNew/components/Review/index.jsx
  src/screens/Surveys/screens/SurveySuccess/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor CSS modules under src/screens/Users
  src/screens/Users/screens/Profile/components/Account/index.jsx
  src/screens/Users/screens/Profile/components/Profile/index.jsx
  src/screens/Users/screens/SignIn/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor Buttons’s file & folder structure
  src/components/common/Buttons/Button/index.jsx
  src/components/common/Buttons/ButtonGroup/index.jsx
  src/components/common/Buttons/ButtonHandler/index.jsx
  src/components/common/Buttons/ButtonList/index.jsx
  src/components/common/Buttons/ButtonList/styles.scss
  src/components/common/Buttons/ButtonSet/index.jsx
  src/components/common/Buttons/ButtonSet/styles.scss
  src/components/common/Buttons/ButtonToolbar/index.jsx
  src/components/common/Buttons/constants/defaultProps.js
  src/components/common/Buttons/constants/propTypes.js
  src/components/common/Buttons/index.js
  src/components/common/Buttons/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor Card's file & folder structure
  src/components/common/Card/CardBody/index.jsx
  src/components/common/Card/CardContainer/index.jsx
  src/components/common/Card/CardFooter/index.jsx
  src/components/common/Card/CardHeader/index.jsx
  src/components/common/Card/CardLink/index.jsx
  src/components/common/Card/CardSubtitle/index.jsx
  src/components/common/Card/CardText/index.jsx
  src/components/common/Card/CardTitle/index.jsx
  src/components/common/Card/index.js
  src/components/common/Card/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor Grid's file & folder structure
  src/components/common/Grid/Column/index.jsx
  src/components/common/Grid/Container/index.jsx
  src/components/common/Grid/Row/index.jsx
  src/components/common/Grid/index.js
  src/components/common/Grid/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor Forms's file & folder structure
  src/components/common/Form/index.jsx
  src/components/common/Form/styles.scss
  src/components/common/Forms/Form/index.jsx
  src/components/common/Forms/FormField/index.jsx
  src/components/common/Forms/FormGroup/index.jsx
  src/components/common/Forms/FormGroup/styles.scss
  src/components/common/Forms/FormHL/index.jsx
  src/components/common/Forms/FormHL/styles.scss
  src/components/common/Forms/FormMeta/index.jsx
  src/components/common/Forms/FormMeta/styles.scss
  src/components/common/Forms/FormSHL/index.jsx
  src/components/common/Forms/FormSHL/styles.scss
  src/components/common/Forms/FormStack/index.jsx
  src/components/common/Forms/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor Hero's file & folder structure
  src/components/common/Hero/HeroBody/index.jsx
  src/components/common/Hero/HeroContainer/index.jsx
  src/components/common/Hero/HeroHeader/index.jsx
  src/components/common/Hero/index.js
  src/components/common/Hero/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor Document's file & folder structure
  src/components/common/Document/index.jsx
  src/components/common/Page/Body/index.jsx
  src/components/common/Page/Document/index.jsx
  src/components/common/Page/Head/index.jsx
  src/components/common/Page/Title/index.jsx
  src/components/common/Page/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor List's file & folder structure
  src/components/common/List/ListContainer/index.jsx
  src/components/common/List/ListContent/index.jsx
  src/components/common/List/ListContent/styles.scss
  src/components/common/List/ListGroup/index.jsx
  src/components/common/List/ListGroupItem/index.jsx
  src/components/common/List/ListItem/index.jsx
  src/components/common/List/ListItem/styles.scss
  src/components/common/List/ListLabel/index.jsx
  src/components/common/List/ListLabel/styles.scss
  src/components/common/List/ListLink/index.jsx
  src/components/common/List/ListLink/styles.scss
  src/components/common/List/ListTitle/index.jsx
  src/components/common/List/ListTitle/styles.scss
  src/components/common/List/index.js
  src/components/common/List/index.jsx
  src/components/common/List/styles.scss
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor ListGroup's file & folder structure
  src/components/common/ListGroup/ListGroupContainer/index.jsx
  src/components/common/ListGroup/ListGroupHL/index.jsx
  src/components/common/ListGroup/ListGroupHL/styles.scss
  src/components/common/ListGroup/ListGroupItem/index.jsx
  src/components/common/ListGroup/ListGroupText/index.jsx
  src/components/common/ListGroup/ListGroupText/styles.scss
  src/components/common/ListGroup/index.js
  src/components/common/ListGroup/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor Modal's file & folder structure
  src/components/common/Modal/ModalBody/index.jsx
  src/components/common/Modal/ModalContainer/index.jsx
  src/components/common/Modal/ModalFooter/index.jsx
  src/components/common/Modal/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor Tip's file & folder structure
  src/components/common/Tip/TipContainer/index.jsx
  src/components/common/Tip/TipContainer/styles.scss
  src/components/common/Tip/TipHeader/index.jsx
  src/components/common/Tip/TipHeader/styles.scss
  src/components/common/Tip/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor HL & SHL's file & folder structure
  src/components/common/Typography/HL/index.jsx
  src/components/common/Typography/HL/styles.scss
  src/components/common/Typography/SHL/index.jsx
  src/components/common/Typography/SHL/styles.scss
  src/components/common/Typography/index.js
  src/components/common/Typography/index.jsx
  src/components/common/Typography/styles.scss
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn lint:stylesheet, yarn format

Refactor export statements under src/components/core
  src/components/core/App/index.jsx
  src/components/core/index.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Remove unnecessary props passing to Modal component
  src/components/composite/Confirm/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Update import statement's paths
  src/screens/About/index.jsx
  src/screens/Home/index.jsx
  src/screens/NotFound/index.jsx
  src/screens/Policy/Privacy/index.jsx
  src/screens/Surveys/screens/SurveyDetails/UI.jsx
  src/screens/Surveys/screens/SurveyDoorway/UI.jsx
  src/screens/Surveys/screens/SurveyList/UI.jsx
  src/screens/Surveys/screens/SurveyNew/UI.jsx
  src/screens/Surveys/screens/SurveyNew/components/Form/index.jsx
  src/screens/Surveys/screens/SurveyNew/components/Review/index.jsx
  src/screens/Surveys/screens/SurveySuccess/index.jsx
  src/screens/Terms/index.jsx
  src/screens/Users/screens/Farewell/index.jsx
  src/screens/Users/screens/Profile/UI.jsx
  src/screens/Users/screens/SignIn/components/Form/index.jsx
  src/screens/Users/screens/SignIn/index.jsx
  src/screens/Users/screens/SignUp/components/Form/index.jsx
  src/screens/Users/screens/SignUp/index.jsx
  src/screens/Users/screens/Welcome/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Remove unnecessary props passing to Hero component
  src/screens/Users/screens/Welcome/index.jsx
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor action types under src/data/session domain
  src/data/credits/reducers.js
  src/data/features/payments/reducers.js
  src/data/interfaces/session/reducers.js
  src/data/session/actions.js
  src/data/session/reducers.js
  src/data/session/sagas.js
  src/data/session/types.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/reducers.js
  src/screens/Surveys/screens/SurveyList/data/surveys/reducers.js
  src/screens/Surveys/screens/SurveyList/reducers.js
  src/screens/Users/screens/Profile/data/profile/reducers.js
  src/screens/Users/screens/Profile/reducers.js
  src/screens/Users/screens/SignIn/reducers.js
  src/screens/Users/screens/SignUp/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor action types under src/data/credits domain
  src/data/credits/actions.js
  src/data/credits/reducers.js
  src/data/credits/sagas.js
  src/data/credits/types.js
  src/data/features/payments/reducers.js
  src/screens/Users/screens/Profile/reducers.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor action types under src/data/interfaces/modal domain
  src/data/interfaces/modal/actions.js
  src/data/interfaces/modal/reducers.js
  src/data/interfaces/modal/types.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor action types under src/screens/Users domain
  src/screens/Users/screens/Profile/data/profile/actions.js
  src/screens/Users/screens/Profile/data/profile/reducers.js
  src/screens/Users/screens/Profile/data/profile/sagas.js
  src/screens/Users/screens/Profile/data/profile/types.js
  src/screens/Users/screens/Profile/reducers.js
  src/screens/Users/screens/SignIn/actions.js
  src/screens/Users/screens/SignIn/reducers.js
  src/screens/Users/screens/SignIn/types.js
  src/screens/Users/screens/SignUp/actions.js
  src/screens/Users/screens/SignUp/reducers.js
  src/screens/Users/screens/SignUp/types.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Refactor action types under src/screens/Surveys domain
  src/screens/Surveys/actions.js
  src/screens/Surveys/sagas.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/actions.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/reducers.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/sagas.js
  src/screens/Surveys/screens/SurveyDetails/data/survey/types.js
  src/screens/Surveys/screens/SurveyDetails/reducers.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/actions.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/reducers.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/sagas.js
  src/screens/Surveys/screens/SurveyDoorway/data/landing/types.js
  src/screens/Surveys/screens/SurveyDoorway/reducers.js
  src/screens/Surveys/screens/SurveyList/actions.js
  src/screens/Surveys/screens/SurveyList/data/surveys/actions.js
  src/screens/Surveys/screens/SurveyList/data/surveys/reducers.js
  src/screens/Surveys/screens/SurveyList/data/surveys/sagas.js
  src/screens/Surveys/screens/SurveyList/data/surveys/types.js
  src/screens/Surveys/screens/SurveyList/reducers.js
  src/screens/Surveys/screens/SurveyList/types.js
  src/screens/Surveys/screens/SurveyNew/actions.js
  src/screens/Surveys/screens/SurveyNew/reducers.js
  src/screens/Surveys/screens/SurveyNew/sagas.js
  src/screens/Surveys/screens/SurveyNew/types.js
  src/screens/Surveys/types.js
Due: yarn test:staged, yarn lint:script:fix, yarn type:check:focus, yarn format

Path conditions:
  yarn test:staged: any of: src/**/*.{js,jsx}
  yarn lint:script:fix: any of: src/**/*.{js,jsx}
  yarn type:check:focus: any of: src/**/*.{js,jsx}
  yarn lint:stylesheet: any of: src/**/*.scss
  yarn format: any of: src/**/*.{js,json,jsx,scss}
